# Python Libraries

Python library is a "bundle" of code that can be used repeatedly to perform some related functionality.

### Python standard library ("Batteries included") contains many built-in libraries

https://docs.python.org/3/library/

### External libraries

[PyPI = Python package index](https://pypi.org/)
- contains > 400 thousand projects

[Awesome Python](https://github.com/vinta/awesome-python)
- A curated list of awesome Python frameworks, libraries, software and resources.

### Examples

- [Random library](https://docs.python.org/3/library/random.html) = built-in
- [Requests library](https://requests.readthedocs.io/en/latest/) = external

---

## Importing libraries, `import` command

In order to use Python libraries you must `import` them.
- `import library_name`

External libraries need to be installed first (unless they are already included with your distribution of Python (such as Anaconda)).

The way how to install external libraries depends on what Python distribution you are using.
- for example, using `pip install library_name`

In [1]:
import antigravity

In [2]:
import random

In [7]:
random.randint(1, 6)

5

### `import` library `as` new_name

You may prefer to call a library in another, usually shorter, name. In order to do that you need to specify the new name using the `as` keyword:
- `import pandas as pd`

### Example : random

In [8]:
import random as rnd

In [11]:
rnd.choice(["apple", "strawberry", "mango"])

'strawberry'

In [12]:
list_of_values = range(10)

In [18]:
value = rnd.choice(list_of_values)

print(value)

1

In [19]:
# libraries usually have help text:

help(rnd.choice)

Help on method choice in module random:

choice(seq) method of random.Random instance
    Choose a random element from a non-empty sequence.

### `from` library `import` name

If you only need some of the functionality of a library you can list the names of things you want to import:

- `from name_of_library import list, of, names`

Example:
- `from random import choice`

You may list many names to import:
- `from random import choice, randint`

In [21]:
from random import choice

value = choice(list_of_values)
print(value)

5

### Example : collections, Counter

`Counter()` object lets us count things.

https://docs.python.org/3/library/collections.html#collections.Counter

https://realpython.com/python-counter/

In [22]:
from collections import Counter

In [23]:
things_to_count = [1, 2, 11, 15, 2, 2, 18, 1]

cnt = Counter(things_to_count)

print(cnt)

Counter({2: 3, 1: 2, 11: 1, 15: 1, 18: 1})

In [25]:
# let's see what methods we can use with the Counter object

names = dir(cnt)

for name in names:
    if not name.startswith("_"):
        print(name)

clear
copy
elements
fromkeys
get
items
keys
most_common
pop
popitem
setdefault
subtract
update
values

In [26]:
help(cnt.most_common)

Help on method most_common in module collections:

most_common(n=None) method of collections.Counter instance
    List the n most common elements and their counts from the most
    common to the least.  If n is None, then list all element counts.

    >>> Counter('abracadabra').most_common(3)
    [('a', 5), ('b', 2), ('r', 2)]

In [27]:
# print most common items
cnt.most_common(2)

[(2, 3), (1, 2)]

In [28]:
# a prettier way to display most common items:

for thing, count in cnt.most_common(2):
    print(f"Item {thing} appeared {count} time(s).")

Item 2 appeared 3 time(s).
Item 1 appeared 2 time(s).

In [29]:
cnt2 = Counter("my text")

In [30]:
cnt2

Counter({'m': 1, 'y': 1, ' ': 1, 't': 2, 'e': 1, 'x': 1})

In [31]:
words = "my text and some more text here and that's it".split()
words

['my', 'text', 'and', 'some', 'more', 'text', 'here', 'and', "that's", 'it']

In [32]:
cnt3 = Counter(words)

In [33]:
cnt3

Counter({'my': 1,
         'text': 2,
         'and': 2,
         'some': 1,
         'more': 1,
         'here': 1,
         "that's": 1,
         'it': 1})

---

## External libraries

[Awesome Python](https://github.com/vinta/awesome-python) resources list

External libraries need to be installed before use.

### Example : requests

"Requests is an elegant and simple HTTP library for Python, built for human beings."

https://requests.readthedocs.io/en/latest/

In [38]:
## Installation of the library depends on what Python distribution you use
## Example of installing requests using the pip command:

#!pip install requests

In [36]:
import requests

In [40]:
# raw text of Wikipedia article about Semantic Web
url = "https://en.wikipedia.org/wiki/Semantic_Web?action=raw"

In [41]:
# let's get the contents of this webpage

result = requests.get(url)

# result code "200" means the page was retrieved OK
print(result.status_code)
print()

# this is the "text" of the webpage
print(result.text[:3000])

200

{{Short description|Extension of the Web to facilitate data exchange}}
{{About|the concept of an Internet based around machine-readability and interoperability standards|the concept of a World Wide Web based on public blockchains|Web3}}
{{Use American English|date=December 2021}}

{{Semantics}}
The '''Semantic Web''', sometimes known as '''Web 3.0''' (not to be confused with [[Web3]]), is an extension of the [[World Wide Web]] through standards<ref>Semantic Web at W3C: https://www.w3.org/standards/semanticweb/</ref> set by the [[World Wide Web Consortium]] (W3C).<!--ref>{{cite web|url=http://www.dblab.ntua.gr/~bikakis/XML%20and%20Semantic%20Web%20W3C%20Standards%20Timeline-History.pdf|title=XML and Semantic Web W3C Standards Timeline|date=2012-02-04}}</ref--> The goal of the Semantic Web is to make [[Internet]] data machine-readable.

To enable the encoding of [[semantics]] with the data, technologies such as [[Resource Description Framework]] (RDF)<ref>{{cite web|url=http://www.w3.org/TR/rdf-syntax-grammar/ | title=World Wide Web Consortium (W3C), "RDF/XML Syntax Specification (Revised)", 25 Feb. 2014.}}</ref> and [[Web Ontology Language]] (OWL)<ref>{{cite web|url=http://www.w3.org/TR/owl-features/ | title=World Wide Web Consortium (W3C), "OWL Web Ontology Language Overview", W3C Recommendation, 10 Feb. 2004.}}</ref> are used. These technologies are used to formally represent [[metadata]]. For example, [[Ontology (information science)|ontology]] can describe [[concept]]s, relationships between [[Entity–relationship model|entities]], and categories of things. These embedded semantics offer significant advantages such as reasoning over data and operating with heterogeneous data sources.<ref>{{cite journal|url=https://purkh.com/index.php/tocomp/article/view/33|last=Chung|first=Seung-Hwa|title=The MOUSE approach: Mapping Ontologies using UML for System Engineers|date=2018|journal=Computer Reviews Journal|issn=2581-6640|pages=8–29}}</ref>

These standards promote common data formats and exchange protocols on the Web, fundamentally the RDF. According to the W3C, "The Semantic Web provides a common framework that allows data to be shared and reused across application, enterprise, and community boundaries."<ref name="W3C-SWA" /> The Semantic Web is therefore regarded as an integrator across different content and information applications and systems.

The term was coined by [[Tim Berners-Lee]] for a web of data (or '''data web''')<ref>{{cite web|url=https://www.bloomberg.com/news/articles/2007-04-09/q-and-a-with-tim-berners-leebusinessweek-business-news-stock-market-and-financial-advice|title=Q&A with Tim Berners-Lee, Special Report |website=businessweek.com|access-date=14 April 2018}}</ref> that can be processed by machines<ref name="Berners-Lee"/>—that is, one in which much of the [[meaning (linguistics)|meaning]] is [[machine-readable data|machine-readable]]. While its critics have questioned its feasibility, proponents argue that applications in [[Li

### Exercise

Count the number of words in the text of the webpage retrieved above and display a list of Top 10 words on this webpage.

In [45]:
text = result.text

text = text.replace("*", "")
text = text.replace("|", "")
text = text.replace("the", "")

In [46]:
words = text.split()

In [47]:
cnt = Counter(words)

In [48]:
cnt.most_common(10)

[('of', 182),
 ('and', 153),
 ('to', 104),
 ('a', 102),
 ('Web', 95),
 ('in', 77),
 ('Semantic', 63),
 ('for', 58),
 ('that', 57),
 ('is', 56)]

## Other libraries

- [Datasets](https://pypi.org/project/datasets/) - for getting data from the [HuggingFace Datasets Hub](https://huggingface.co/datasets)
  - `dataset = load_dataset("wikipedia", language="lv", date="20230220", beam_runner="DirectRunner")`
- [math](https://docs.python.org/3/library/math.html) - Mathematical functions and constants
- [Matplotlib](https://matplotlib.org/) - a data visualization library
- [NumPy](https://numpy.org/) - numerical computing
- [openpyxl](https://openpyxl.readthedocs.io/en/stable/) for working with Excel files
- [Pandas](https://pandas.pydata.org/docs/getting_started/index.html#getting-started) - for working with tabular data (DataFrames)
- [Pillow](https://pillow.readthedocs.io/en/stable/handbook/tutorial.html) - for working with images
- [pyperclip](https://pyperclip.readthedocs.io/en/latest/) - for working with clipboard (copy, paste)
- [statistics](https://docs.python.org/3/library/statistics.html) - Mathematical statistics functions

What other Python libraries do you need / are interested in?

In [50]:
# Latvia open data porta: data.gov.lv

covid_url = "https://data.gov.lv/dati/dataset/cbd91f16-0d67-465b-b89b-d315c9358c77/resource/b5530ed7-fdd2-475f-a953-e267d0c10755/download/covidpatients.csv"

In [49]:
# let's use Pandas

import pandas as pd

In [51]:
data = pd.read_csv(covid_url, delimiter=";")

In [52]:
data[-100:]

,Datums,ĀI kods,ĀI nosaukums,Kopā,Jauni,Pamata diagnoze,Blakus diagnoze,Smaga slimības gaita,t.sk. Invazīva MPV,Vidēja slimības gaita,Miruši,Izrakstīti,Pārvesti,t.sk. uz augstāka līmeņa,t.sk. uz zemāka līmeņa,t.sk. uz tāda paša līmeņa
10644,2023-03-01T00:00:00,210020301-01,Rēzeknes slimnīca,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
10645,2023-03-01T00:00:00,010021301-01,Rīgas Dzemdību nams,1.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
10646,2023-03-01T00:00:00,010012202-01,Rīgas psihiatrijas un narkoloģijas centrs,3.0,0.0,2.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
10647,2023-03-01T00:00:00,801400002-01,Saulkrastu veselības un sociālās aprūpes centrs,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10648,2023-03-01T00:00:00,090012101-01,"Slimnīca ""Ģintermuiža""",7.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10739,2023-03-05T00:00:00,010012202-01,Rīgas psihiatrijas un narkoloģijas centrs,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10740,2023-03-05T00:00:00,941800004-01,Strenču psihoneiroloģiskā slimnīca,10.0,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10741,2023-03-05T00:00:00,010011401-01,Traumatoloģijas un ortopēdijas slimnīca,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10742,2023-03-05T00:00:00,250000092-01,Vidzemes slimnīca,18.0,0.0,9.0,9.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
10743,2023-03-05T00:00:00,270020302-01,"Ziemeļkurzemes reģionālā slimnīca, Ventspils",1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
data.describe()

,Kopā,Jauni,Pamata diagnoze,Blakus diagnoze,Smaga slimības gaita,t.sk. Invazīva MPV,Vidēja slimības gaita,Miruši,Izrakstīti,Pārvesti,t.sk. uz augstāka līmeņa,t.sk. uz zemāka līmeņa,t.sk. uz tāda paša līmeņa
count,10644.000000,9304.000000,9098.000000,10178.000000,7690.000000,7350.000000,8909.000000,7528.000000,8880.000000,6768.000000,6177.000000,6127.000000,5971.000000
mean,13.423807,1.968078,6.579578,8.165258,0.734980,0.228707,6.122236,0.274309,1.747635,0.132388,0.092440,0.103640,0.035505
std,30.329072,4.084346,14.139651,19.620778,2.744978,0.977119,12.496708,0.758859,4.034951,0.530074,1.601095,0.438736,0.340576
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,1.000000,1.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,14.000000,2.000000,8.000000,8.000000,0.000000,0.000000,7.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
max,379.000000,52.000000,160.000000,242.000000,31.000000,14.000000,130.000000,10.000000,69.000000,12.000000,50.000000,6.000000,11.000000

## Creating Python libraries

You can create simple Python libraries / modules, too.

https://www.w3schools.com/python/python_modules.asp

In [54]:
%%writefile my_library.py

def day_type(day):
    
    if 1 <= day <= 5:
        return "Working day"
    elif day in (6, 7):
        return "Weekend"
    else:
        return "Not a day number"

Overwriting my_library.py

In [55]:
from my_library import day_type

print(day_type(5))

Working day

In [56]:
print(day_type(7))

Weekend

### Practical exercise - defining Python modules

#### Task 1:

Create a new Python module file (`.py`) that contains functions:
- `print_list()` for printing contents of a list
- `print_dict()` for printing contents of a dictionary

Demonstrate an example of importing and using both functions.

P.S. You should print each entry of a list / a dictionary on a separate line.

#### Task 2:

Add a parameter `limit` to both functions:
- it should limit the number of entries printed
- by default, if the limit parameter is not given, print all list / dictionary entries.

Demonstrate the use of the `limit` parameter.

In [ ]:
from my_module import print_list, print_dict

In [ ]:
my_list = ["some", "list", "of", "text"]
my_dict = {"key1": "value1", "key2": "value2", "key3": 42}

In [ ]:
print_list(my_list)

In [ ]:
print_dict(my_dict)

### Practical exercise - Python libraries

Choose a Python library to explore in more detail:
- look at its webpage / documentation
- try using this library in practice